.input-group-icon .input-group-addon, .input-search .input-group-addon {
  position: relative;
  padding: 0;
  border: 0 none;
  width: 0; }

.input-group-icon input.form-control, .input-search input.form-control {
  font-size: 12px;
  font-size: 1.3rem;
  padding-right: 36px; }

.input-group-icon .input-group-addon span.icon, .input-search .input-group-addon span.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  z-index: 3;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  background: transparent;
  line-height: 1.42857143;
  box-sizing: content-box;
  pointer-events: none; }

#header {
  position: absolute;
  z-index: 4;
  width: 100%;
  background: linear-gradient(rgba(246, 246, 246, 0), rgba(255, 0, 0, 0));
  border-top: 0 solid #FFF;
  min-height: 70px; }
  #header.flat-menu nav ul.nav-main li a {
    border-radius: 0;
    margin-left: 1px;
    margin-right: 3px;
    padding: 7px 13px; }
  #header.flat-menu nav ul.nav-main li.active > a {
    color: #FFF;
    color: #FFF; }
  #header.flat-menu nav ul.nav-main li > a:hover {
    color: #FFF;
    background-color: rgba(199, 28, 119, 0) !important; }
  #header.flat-menu nav ul.nav-main li.dropdown:hover a {
    color: #FFF;
    background-color: rgba(199, 28, 119, 0) !important; }
  #header.flat-menu nav ul.nav-main > li > a {
    margin-bottom: 0;
    border-top: 0 solid transparent; }
  #header.flat-menu > .container {
    height: 100px;
    margin-bottom: -82px; }
  #header nav.mega-menu ul.nav-main li.signIn a {
    text-transform: uppercase;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff; }
  #header nav ul.nav-main li a {
    text-transform: none;
    font-weight: 400;
    font-size: 13px; }

.slides-overlay {
  background-image: url(../img/home-overlay.png);
  position: absolute;
  opacity: 0.3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 21; }

@media (max-width: 991px) {
  #header .nav-main-collapse {
    top: -26px;
    height: 200px !important;
    background: #282828; }
  #header.fixed .logo img {
    margin-top: -119px; }
  #header .logo a {
    z-index: 0; } }

.input-group {
  margin-bottom: 5px; }

.input-group-icon {
  width: 100%;
  table-layout: fixed; }
  .input-group-icon .input-group-addon + input.form-control {
    padding-right: 12px;
    padding-left: 36px; }
  .input-group-icon input.form-control:first-child {
    border-radius: 4px; }
  .input-group-icon input.form-control:last-child {
    border-radius: 4px; }

.input-search .input-group-addon + input.form-control {
  padding-right: 12px;
  padding-left: 36px; }
.input-search input.form-control:first-child {
  border-radius: 4px; }
.input-search input.form-control:last-child {
  border-radius: 4px; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .form-control:focus {
    border-color: #f69c9a;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(238, 65, 60, 0.3), 0 0 8px rgba(238, 65, 60, 0.3); }

input {
  outline: none; }

#slides {
  z-index: 1;
  background-color: #000;
  width: 100%; }

.register-panel {
  position: absolute;
  z-index: 3;
  top: 100px;
  text-align: center; }

@media (min-width: 768px) and (max-width: 979px) {
  .btn-primary {
    padding-top: 10px; }
  .pagination > .active > a {
    padding-top: 10px; }
  body.dark .pagination > .active > a {
    padding-top: 10px; }
  .form-inline .form-group {
    padding-bottom: 5px; } }

.register-model {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.15); }

.register-model-footer {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  border: 0 solid rgba(0, 0, 0, 0.2); }

.register-model-header {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  border: 0 solid rgba(0, 0, 0, 0.2); }

.modal-dialog {
  width: 400px;
  margin: 100px auto; }

.register-logo {
  position: absolute;
  top: 36px;
  z-index: 2;
  text-align: center; }

.display-none {
  display: none !important; }

.select2-drop-active {
  border: 1px solid #f69c9a;
  border-top: none; }

html {
  transition: background-color 2s;
  min-height: 100%; }
  html.loading {
    background: #000 url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
    transition: background-color 0; }
    html.loading body {
      opacity: 0;
      transition: opacity 0; }

body {
  min-height: 100%;
  transition: opacity .5s ease-in; }
  body .ui-pnotify.icon-nb .notification .ui-pnotify-icon > span {
    border-color: transparent;
    border-radius: 0; }

.ui-pnotify {
  right: 15px;
  top: 15px; }
  .ui-pnotify .notification {
    border-radius: 5px;
    box-shadow: none;
    padding: 15px 15px 15px 75px; }
    .ui-pnotify .notification .ui-pnotify-icon {
      left: 0;
      position: absolute;
      top: 0;
      width: 75px;
      text-align: center; }
      .ui-pnotify .notification .ui-pnotify-icon > span {
        border: 2px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        float: none;
        font-size: 35px;
        height: 50px;
        line-height: 48px;
        margin: 8px 0 0;
        padding: 0;
        width: 50px;
        text-align: center; }
    .ui-pnotify .notification .ui-pnotify-title {
      font-size: 14px;
      letter-spacing: 0;
      color: #fff;
      font-weight: bold;
      font-size: 1.3em; }
    .ui-pnotify .notification .ui-pnotify-text {
      font-size: 12px;
      line-height: 1.3em; }
    .ui-pnotify .notification.notification-danger .ui-pnotify-icon > span.fa-times {
      line-height: 47px; }
  .ui-pnotify .ui-pnotify-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }
  .ui-pnotify .ui-pnotify-sharp {
    border-radius: 0; }
  .ui-pnotify.stack-bar-top {
    right: 0;
    top: 0; }
    .ui-pnotify.stack-bar-top .notification {
      border-radius: 0; }
      .ui-pnotify.stack-bar-top .notification .ui-pnotify-icon > span {
        margin-top: 7px; }
    .ui-pnotify.stack-bar-top .notification-primary {
      background: #ccc; }
    .ui-pnotify.stack-bar-top .notification-success {
      background: #47a447; }
    .ui-pnotify.stack-bar-top .notification-warning {
      background: #ed9c28; }
    .ui-pnotify.stack-bar-top .notification-danger {
      background: #d2322d; }
    .ui-pnotify.stack-bar-top .notification-info {
      background: #5bc0de; }
    .ui-pnotify.stack-bar-top .notification-dark {
      background: #171717; }
  .ui-pnotify.stack-bar-bottom {
    bottom: 0;
    left: auto;
    margin-left: 15%;
    right: auto;
    top: auto; }
    .ui-pnotify.stack-bar-bottom .notification {
      border-radius: 0; }
      .ui-pnotify.stack-bar-bottom .notification .ui-pnotify-icon > span {
        margin-top: 9px; }
    .ui-pnotify.stack-bar-bottom .notification-primary {
      background: #ccc; }
    .ui-pnotify.stack-bar-bottom .notification-success {
      background: #47a447; }
    .ui-pnotify.stack-bar-bottom .notification-warning {
      background: #ed9c28; }
    .ui-pnotify.stack-bar-bottom .notification-danger {
      background: #d2322d; }
    .ui-pnotify.stack-bar-bottom .notification-info {
      background: #5bc0de; }
    .ui-pnotify.stack-bar-bottom .notification-dark {
      background: #171717; }
  .ui-pnotify.click-2-close {
    cursor: pointer; }
  .ui-pnotify .notification-primary {
    background: rgba(204, 204, 204, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify .notification-primary .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-primary .notification {
    background: rgba(204, 204, 204, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-primary .notification .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-primary .notification-primary {
    background: rgba(204, 204, 204, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-primary .notification-primary .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-primary.stack-bar-top .notification {
    background: #ccc; }
  .ui-pnotify.notification-primary.stack-bar-top .notification-primary {
    background: #ccc; }
  .ui-pnotify.notification-primary.stack-bar-bottom .notification {
    background: #ccc; }
  .ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
    background: #ccc; }
  .ui-pnotify .notification-success {
    background: rgba(71, 164, 71, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify .notification-success .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-success .notification {
    background: rgba(71, 164, 71, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-success .notification .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-success .notification-success {
    background: rgba(71, 164, 71, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-success .notification-success .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-success.stack-bar-top .notification {
    background: #47a447; }
  .ui-pnotify.notification-success.stack-bar-top .notification-success {
    background: #47a447; }
  .ui-pnotify.notification-success.stack-bar-bottom .notification {
    background: #47a447; }
  .ui-pnotify.notification-success.stack-bar-bottom .notification-success {
    background: #47a447; }
  .ui-pnotify .notification-warning {
    background: rgba(237, 156, 40, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify .notification-warning .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-warning .notification {
    background: rgba(237, 156, 40, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-warning .notification .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-warning .notification-warning {
    background: rgba(237, 156, 40, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-warning .notification-warning .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-warning.stack-bar-top .notification {
    background: #ed9c28; }
  .ui-pnotify.notification-warning.stack-bar-top .notification-warning {
    background: #ed9c28; }
  .ui-pnotify.notification-warning.stack-bar-bottom .notification {
    background: #ed9c28; }
  .ui-pnotify.notification-warning.stack-bar-bottom .notification-warning {
    background: #ed9c28; }
  .ui-pnotify .notification-danger {
    background: rgba(210, 50, 45, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify .notification-danger .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-danger .notification {
    background: rgba(210, 50, 45, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-danger .notification .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-danger .notification-danger {
    background: rgba(210, 50, 45, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-danger .notification-danger .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-danger.stack-bar-top .notification {
    background: #d2322d; }
  .ui-pnotify.notification-danger.stack-bar-top .notification-danger {
    background: #d2322d; }
  .ui-pnotify.notification-danger.stack-bar-bottom .notification {
    background: #d2322d; }
  .ui-pnotify.notification-danger.stack-bar-bottom .notification-danger {
    background: #d2322d; }
  .ui-pnotify .notification-info {
    background: rgba(91, 192, 222, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify .notification-info .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-info .notification {
    background: rgba(91, 192, 222, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-info .notification .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-info .notification-info {
    background: rgba(91, 192, 222, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-info .notification-info .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-info.stack-bar-top .notification {
    background: #5bc0de; }
  .ui-pnotify.notification-info.stack-bar-top .notification-info {
    background: #5bc0de; }
  .ui-pnotify.notification-info.stack-bar-bottom .notification {
    background: #5bc0de; }
  .ui-pnotify.notification-info.stack-bar-bottom .notification-info {
    background: #5bc0de; }
  .ui-pnotify .notification-dark {
    background: rgba(23, 23, 23, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify .notification-dark .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-dark .notification {
    background: rgba(23, 23, 23, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-dark .notification .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-dark .notification-dark {
    background: rgba(23, 23, 23, 0.95);
    color: rgba(255, 255, 255, 0.7); }
    .ui-pnotify.notification-dark .notification-dark .ui-pnotify-icon > span {
      border-color: rgba(255, 255, 255, 0.7); }
  .ui-pnotify.notification-dark.stack-bar-top .notification {
    background: #171717; }
  .ui-pnotify.notification-dark.stack-bar-top .notification-dark {
    background: #171717; }
  .ui-pnotify.notification-dark.stack-bar-bottom .notification {
    background: #171717; }
  .ui-pnotify.notification-dark.stack-bar-bottom .notification-dark {
    background: #171717; }
  .ui-pnotify.ui-pnotify-no-icon .notification {
    padding-left: 15px; }

@media only screen and (max-width: 767px) {
  html > body > .ui-pnotify {
    bottom: auto !important;
    left: 0 !important;
    margin: 0 !important;
    right: 0 !important;
    top: 60px !important;
    width: auto !important; }
    html > body > .ui-pnotify .notification {
      border-radius: 0 !important;
      height: auto !important;
      position: static !important;
      width: 100%; }
      html > body > .ui-pnotify .notification .ui-pnotify-title {
        padding-right: 35px !important; }
      html > body > .ui-pnotify .notification .ui-pnotify-text {
        padding-right: 35px !important; }
      html > body > .ui-pnotify .notification .ui-pnotify-sticker {
        display: none !important; }
      html > body > .ui-pnotify .notification .ui-pnotify-closer {
        display: block !important;
        font-size: 24px !important;
        visibility: visible !important; } }

img.opaci {
  opacity: 0.5 !important; }

.input-group-addon:first-child {
  border-right: 0;
  z-index: 3; }

section div.panel-body {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 8px 23px;
  border-radius: 4px; }

.select2-dropdown-open.select2-drop-above .select2-choice {
  border: 1px solid #f69c9a;
  border-top-color: transparent; }
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #f69c9a;
  border-top-color: transparent; }

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #f69c9a; }

/* Add here all your CSS customizations */
#header {
  position: absolute;
  z-index: 4;
  width: 100%;
  background: linear-gradient(rgba(246, 246, 246, 0), rgba(255, 0, 0, 0));
  border-top: 0px solid #FFF;
  min-height: 70px; }

#header.flat-menu nav ul.nav-main li.active > a {
  color: #FFF; }

#header.flat-menu > .container {
  height: 100px;
  margin-bottom: -82px; }

#header.flat-menu nav ul.nav-main li > a:hover, #header.flat-menu nav ul.nav-main li.dropdown:hover a {
  color: #FFF;
  background-color: rgba(199, 28, 119, 0) !important; }

#header.flat-menu nav ul.nav-main li > a, #header.flat-menu nav ul.nav-main li.active > a {
  color: #FFF; }

#header nav.mega-menu ul.nav-main li.signIn a {
  text-transform: uppercase;
  border-radius: 4px;
  white-space: nowrap;
  /*margin-left: 21px;*/
  font-size: 14px;
  /* font-weight: 600; */
  border: 1px solid rgba(255, 255, 255, 0.5);
  /*margin-top: 40px;*/
  color: #fff; }

#header.flat-menu nav ul.nav-main li a {
  border-radius: 0;
  margin-left: 1px;
  margin-right: 3px;
  padding: 7px 13px; }

.slides-overlay {
  background-image: url(../img/home-overlay.png);
  position: absolute;
  opacity: 0.3;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 21; }

img.opaci {
  opacity: 0.5 !important;
  -moz-opacity: 0.5 !important;
  -webkit-opacity: 0.5 !important; }

#header nav ul.nav-main li a {
  text-transform: none;
  font-weight: 400;
  font-size: 13px; }

#header.flat-menu nav ul.nav-main > li > a {
  margin-bottom: 0;
  border-top: 0px solid transparent; }

/* Mazais menu */
@media (max-width: 991px) {
  #header .nav-main-collapse {
    top: -26px;
    background: #282828; }
  #header.fixed .logo img {
    margin-top: -119px; }
  #header .logo a {
    z-index: 0; }
  #header .nav-main ul li:last-child {
    border-bottom: none;
    padding-bottom: 20px; } }

.input-group {
  margin-bottom: 5px; }

.input-group-icon {
  width: 100%;
  table-layout: fixed; }

.input-group-icon .input-group-addon, .input-search .input-group-addon {
  position: relative;
  padding: 0;
  border: 0 none;
  width: 0; }

.input-group-icon .input-group-addon + input.form-control, .input-search .input-group-addon + input.form-control {
  padding-right: 12px;
  padding-left: 36px; }

.input-group-icon input.form-control:first-child, .input-group-icon input.form-control:last-child, .input-search input.form-control:first-child, .input-search input.form-control:last-child {
  border-radius: 4px; }

.input-group-icon input.form-control, .input-search input.form-control {
  font-size: 12px;
  font-size: 1.3rem;
  padding-right: 36px; }

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], textarea {
  -webkit-appearance: none; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

input {
  outline: none; }

.input-group-icon .input-group-addon span.icon, .input-search .input-group-addon span.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  z-index: 3;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  background: transparent;
  line-height: 1.42857143;
  box-sizing: content-box;
  pointer-events: none; }

#slides {
  z-index: 1;
  background-color: #000;
  width: 100%; }

.register-panel {
  position: absolute;
  z-index: 3;
  top: 100px;
  text-align: center; }

section div.panel-body {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 8px 23px;
  border-radius: 4px; }

@media (min-width: 768px) and (max-width: 979px) {
  .btn-primary, .pagination > .active > a, body.dark .pagination > .active > a {
    padding-top: 10px; }
  .form-inline .form-group {
    padding-bottom: 5px; } }

.register-model {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.15); }

.register-model-footer {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  border: 0px solid rgba(0, 0, 0, 0.2); }

.register-model-header {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  border: 0px solid rgba(0, 0, 0, 0.2); }

.modal-dialog {
  width: 400px;
  margin: 100px auto; }

.register-logo {
  position: absolute;
  top: 36px;
  z-index: 2;
  text-align: center; }

.display-none {
  display: none !important; }

.form-control:focus {
  border-color: #f69c9a;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(238, 65, 60, 0.3), 0 0 8px rgba(238, 65, 60, 0.3); }

.select2-drop-active {
  border: 1px solid #f69c9a;
  border-top: none; }

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #f69c9a;
  border-top-color: transparent; }

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #f69c9a; }

html {
  transition: background-color 2s; }

html, body {
  /* For the loading indicator to be vertically centered ensure */
  /* the html and body elements take up the full viewport */
  min-height: 100%; }

html.loading {
  /* Replace #333 with the background-color of your choice */
  /* Replace loading.gif with the loading image of your choice */
  background: #000 url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
  /* Ensures that the transition only runs in one direction */
  transition: background-color 0; }

body {
  transition: opacity .5s ease-in; }

html.loading body {
  /* Make the contents of the body opaque during loading */
  opacity: 0;
  /* Ensures that the transition only runs in one direction */
  transition: opacity 0; }

/* Notification */
.ui-pnotify {
  right: 15px;
  top: 15px; }

.ui-pnotify .notification {
  border-radius: 5px;
  box-shadow: none;
  padding: 15px 15px 15px 75px; }

.ui-pnotify .notification .ui-pnotify-icon {
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
  text-align: center; }

.ui-pnotify .notification .ui-pnotify-icon > span {
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  float: none;
  font-size: 35px;
  height: 50px;
  line-height: 48px;
  margin: 8px 0 0;
  padding: 0;
  width: 50px;
  text-align: center; }

.ui-pnotify .notification .ui-pnotify-title {
  font-size: 14px;
  letter-spacing: 0;
  color: white;
  font-weight: bold;
  font-size: 1.3em; }

.ui-pnotify .notification .ui-pnotify-text {
  font-size: 12px;
  line-height: 1.3em; }

.ui-pnotify .notification.notification-danger .ui-pnotify-icon > span.fa-times {
  line-height: 47px; }

.ui-pnotify .ui-pnotify-shadow {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4); }

.ui-pnotify.ui-pnotify-no-icon .notification {
  padding-left: 15px; }

.ui-pnotify .ui-pnotify-sharp {
  border-radius: 0; }

body .ui-pnotify.icon-nb .notification .ui-pnotify-icon > span {
  border-color: transparent;
  border-radius: 0; }

.ui-pnotify.stack-bar-top {
  right: 0;
  top: 0; }

.ui-pnotify.stack-bar-top .notification {
  border-radius: 0; }

.ui-pnotify.stack-bar-top .notification .ui-pnotify-icon > span {
  margin-top: 7px; }

.ui-pnotify.stack-bar-bottom {
  bottom: 0;
  left: auto;
  margin-left: 15%;
  right: auto;
  top: auto; }

.ui-pnotify.stack-bar-bottom .notification {
  border-radius: 0; }

.ui-pnotify.stack-bar-bottom .notification .ui-pnotify-icon > span {
  margin-top: 9px; }

.ui-pnotify.click-2-close {
  cursor: pointer; }

/* Notification States */
.ui-pnotify .notification-primary {
  background: rgba(204, 204, 204, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify .notification-primary .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.stack-bar-top .notification-primary, .ui-pnotify.stack-bar-bottom .notification-primary {
  background: #cccccc; }

.ui-pnotify.notification-primary .notification, .ui-pnotify.notification-primary .notification-primary {
  background: rgba(204, 204, 204, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-primary .notification .ui-pnotify-icon > span, .ui-pnotify.notification-primary .notification-primary .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-primary.stack-bar-top .notification, .ui-pnotify.notification-primary.stack-bar-top .notification-primary, .ui-pnotify.notification-primary.stack-bar-bottom .notification, .ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
  background: #cccccc; }

.ui-pnotify .notification-success {
  background: rgba(71, 164, 71, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify .notification-success .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.stack-bar-top .notification-success, .ui-pnotify.stack-bar-bottom .notification-success {
  background: #47a447; }

.ui-pnotify.notification-success .notification, .ui-pnotify.notification-success .notification-success {
  background: rgba(71, 164, 71, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-success .notification .ui-pnotify-icon > span, .ui-pnotify.notification-success .notification-success .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-success.stack-bar-top .notification, .ui-pnotify.notification-success.stack-bar-top .notification-success, .ui-pnotify.notification-success.stack-bar-bottom .notification, .ui-pnotify.notification-success.stack-bar-bottom .notification-success {
  background: #47a447; }

.ui-pnotify .notification-warning {
  background: rgba(237, 156, 40, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify .notification-warning .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.stack-bar-top .notification-warning, .ui-pnotify.stack-bar-bottom .notification-warning {
  background: #ed9c28; }

.ui-pnotify.notification-warning .notification, .ui-pnotify.notification-warning .notification-warning {
  background: rgba(237, 156, 40, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-warning .notification .ui-pnotify-icon > span, .ui-pnotify.notification-warning .notification-warning .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-warning.stack-bar-top .notification, .ui-pnotify.notification-warning.stack-bar-top .notification-warning, .ui-pnotify.notification-warning.stack-bar-bottom .notification, .ui-pnotify.notification-warning.stack-bar-bottom .notification-warning {
  background: #ed9c28; }

.ui-pnotify .notification-danger {
  background: rgba(210, 50, 45, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify .notification-danger .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.stack-bar-top .notification-danger, .ui-pnotify.stack-bar-bottom .notification-danger {
  background: #d2322d; }

.ui-pnotify.notification-danger .notification, .ui-pnotify.notification-danger .notification-danger {
  background: rgba(210, 50, 45, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-danger .notification .ui-pnotify-icon > span, .ui-pnotify.notification-danger .notification-danger .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-danger.stack-bar-top .notification, .ui-pnotify.notification-danger.stack-bar-top .notification-danger, .ui-pnotify.notification-danger.stack-bar-bottom .notification, .ui-pnotify.notification-danger.stack-bar-bottom .notification-danger {
  background: #d2322d; }

.ui-pnotify .notification-info {
  background: rgba(91, 192, 222, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify .notification-info .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.stack-bar-top .notification-info, .ui-pnotify.stack-bar-bottom .notification-info {
  background: #5bc0de; }

.ui-pnotify.notification-info .notification, .ui-pnotify.notification-info .notification-info {
  background: rgba(91, 192, 222, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-info .notification .ui-pnotify-icon > span, .ui-pnotify.notification-info .notification-info .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-info.stack-bar-top .notification, .ui-pnotify.notification-info.stack-bar-top .notification-info, .ui-pnotify.notification-info.stack-bar-bottom .notification, .ui-pnotify.notification-info.stack-bar-bottom .notification-info {
  background: #5bc0de; }

.ui-pnotify .notification-dark {
  background: rgba(23, 23, 23, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify .notification-dark .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.stack-bar-top .notification-dark, .ui-pnotify.stack-bar-bottom .notification-dark {
  background: #171717; }

.ui-pnotify.notification-dark .notification, .ui-pnotify.notification-dark .notification-dark {
  background: rgba(23, 23, 23, 0.95);
  color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-dark .notification .ui-pnotify-icon > span, .ui-pnotify.notification-dark .notification-dark .ui-pnotify-icon > span {
  border-color: rgba(255, 255, 255, 0.7); }

.ui-pnotify.notification-dark.stack-bar-top .notification, .ui-pnotify.notification-dark.stack-bar-top .notification-dark, .ui-pnotify.notification-dark.stack-bar-bottom .notification, .ui-pnotify.notification-dark.stack-bar-bottom .notification-dark {
  background: #171717; }

/* Notification Responsive */
@media only screen and (max-width: 767px) {
  html > body > .ui-pnotify {
    bottom: auto !important;
    left: 0 !important;
    margin: 0 !important;
    right: 0 !important;
    top: 60px !important;
    width: auto !important; }
  html > body > .ui-pnotify .notification {
    border-radius: 0 !important;
    height: auto !important;
    position: static !important;
    width: 100%; }
  html > body > .ui-pnotify .notification .ui-pnotify-title, html > body > .ui-pnotify .notification .ui-pnotify-text {
    padding-right: 35px !important; }
  html > body > .ui-pnotify .notification .ui-pnotify-sticker {
    display: none !important; }
  html > body > .ui-pnotify .notification .ui-pnotify-closer {
    display: block !important;
    font-size: 24px !important;
    visibility: visible !important; } }

.top {
  margin-top: 0px !important; }

.intl-tel-input {
  display: table-cell;
  width: 100%; }

.intl-tel-input .flag-dropdown {
  z-index: 4; }

.intl-tel-input .selected-flag .arrow {
  top: -60% !important; }


/*# sourceMappingURL=custom.css.map */